.UserTable-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .show-user{
        width: 100%;
        .table {
            .row {
              display: flex;
              border-bottom: 1px solid rgba(24, 45, 107, 0.253);
              padding: 20px;
              margin: 29px;
              text-align: start;
              justify-content: space-around;
              .delete{
                border: none;
                background-color: red;
                color: white;
                padding: 12px;
                cursor: pointer;
              }
              .col {
                display: flex;
                justify-content: space-around;
                width: 100%;
                // edited
                font-size: var(--fs-sm);
                color: var(--text-dark);
              
              }
              }
            }
          }
        .user-head{
            display: flex;
              border-bottom: 1px solid rgba(24, 45, 107, 0.253);
              padding: 20px;
              margin: 29px;
              text-align: start;
              justify-content: space-around;
        }
}